/* BEGIN GLOBALS */
@font-face {
    font-family: 'Gill Sans';
    src: url(fonts/GillSans-Regular.ttf) format("truetype");;
    font-weight: 400;
}
@font-face {
    font-family: 'Gill Sans';
    src: url(fonts/GillSans-Light.ttf) format("truetype");;
    font-weight: 100;
}
@font-face {
    font-family: 'Gill Sans';
    src: url(fonts/GillSans-SemiBold.ttf) format("truetype");;
    font-weight: 600;
}
@-o-keyframes pulse{
    from{
        opacity:1
    }
    to{
        opacity: 0;
    }
}
@-moz-keyframes pulse{
    from{
        opacity:1
    }
    to{
        opacity: 0;
    }
}
@-webkit-keyframes pulse{
    from{
        opacity:1
    }
    to{
        opacity: 0;
    }
}
@keyframes pulse{
    from{
        opacity:1
    }
    to{
        opacity: 0;
    }
}
@-o-keyframes fadeIn{
    0% { 
        opacity:0; 
    }
    100% {
        opacity:100%;
    }
}
@-moz-keyframes fadeIn{
    0% { 
        opacity:0; 
    }
    100% {
        opacity:100%;
    }
}
@-webkit-keyframes fadeIn{
    0% { 
        opacity:0; 
    }
    100% {
        opacity:100%;
    }
}
@keyframes fadeIn{
    0% { 
        opacity:0; 
    }
    100% {
        opacity:100%;
    }
}
*, :after, :before {
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    display: none;
}
.red{
    color:#f6584C!important;
}
.light .red{
    color:#B13507!important;
}
.blue{
    color:#54cbf2!important;
}
.white{
    color:#faebd7!important;
}
.black{
    color:#000!important;
}
.gray{
    color:#cacaca!important;
}
.dark-gray{
    color:#757575!important;
}
.yellow, .yellow-test{
    color:#ffc82a!important;
}
.light .yellow-test{
    color:#967000!important;
}
.green{
    color:#4cf6af!important;
}
.light .green{
    color:#33a976!important;
}
.dark-path{
    fill:#000!important;
}
.light-path{
    fill:#fff!important;
}
.light .dark-path{
    fill:#fff!important;
}
.light .light-path{
    fill:#000!important;
}
.stroke-gray{
    stroke:#282828;
}
.fill-gray{
    fill:#282828;
}
.light .stroke-gray{
    stroke:#e6e6e6;
}
.light .fill-gray{
    fill:#e6e6e6;
}
.text-center{
    text-align: center!important;
}
.ease-out{
    -o-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.no-hover{
    background-color: unset!important;
}
.transform{
    -o-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%);
}
.transform-y-178{
    -o-transform:translateY(-178px);
    -moz-transform:translateY(-178px);
    -webkit-transform:translateY(-178px);
    -ms-transform:translateY(-178px);
    transform:translateY(-178px);
}
.transform-y-220{
    -o-transform:translateY(-220px);
    -moz-transform:translateY(-220px);
    -webkit-transform:translateY(-220px);
    -ms-transform:translateY(-220px);
    transform:translateY(-220px);
}
.transform-y-30{
    -o-transform:translateY(-30px);
    -moz-transform:translateY(-30px);
    -webkit-transform:translateY(-30px);
    -ms-transform:translateY(-30px);
    transform:translateY(-30px);
}
.transform-y-50{
    -o-transform:translateY(-50px);
    -moz-transform:translateY(-50px);
    -webkit-transform:translateY(-50px);
    -ms-transform:translateY(-50px);
    transform:translateY(-50px);
}
.transform-rotate{
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}
.flex-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.no-display{
    display:none!important;
}
.bckg-sprite{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/icons_sprites.png);
}
.bckg-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* END GLOBALS */
html, body{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', sans-serif;
}
html{
    background-color: #282828;
    -webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	text-size-adjust:100%;
	-webkt-scroll-behavior: smooth;
	scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    overflow-y: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.light{
    background-color: #e6e6e6;
}
body{
    width:100%;
    overflow-x:hidden;
    overflow-y: hidden;
}
/* begin header */
#header{
    position: fixed;
    width:100%;
    height:50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color:#000;
    padding: 0 12px;
    z-index: 10;
    box-shadow: 0px 0px 2px 0px black;
}
.light #header{
    background-color:#fff;
}
#logo{
    width:45px;
    height:45px;
    margin-right: 10px;
}
.light #logo path{
    fill:#013544;
}
#header h1{
    font-weight: 100;
    font-size: 2em;
}
.light #header h1{
    color:#000!important;
}
.menu-btns{
    cursor: pointer;
    margin:0;
    color:#faebd7;
}
.light .menu-btns{
    color:#000;
}
#mapBtn, #mapBtnMobile{
    color:#54cbf2;
}
#aboutBtn{
    text-decoration: none;
    margin:0 20px;
}
.menu-btns:hover, .menu-btns:focus, .menu-btns:active{
    color:#79d7f4!important;
}
.light .menu-btns:hover, .light .menu-btns:focus, .light .menu-btns:active{
    color:#9c9c9c!important;
}
/* begin hamburger */
#hamburger, #mobileNav{
    display:none;
}
/* end hamburger */
/* begin search */
@media(min-width:769px){
   #searchWrapper{
        -webkit-box-flex:1!important;
        -ms-flex:1!important;
        flex:1!important;
        background-color: #282828!important;
        margin-right: 20px!important;
   }
   .light #searchWrapper{  
        background-color: #e6e6e6!important;
   }
   #header h1, #closeSearch{
       display: block!important;
   }
   #searchInput{
       visibility: visible!important;
   }
}
.flex-1{
    -webkit-box-flex:1!important;
    -ms-flex:1!important;
    flex:1!important;
}
#searchWrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px 20px;
    border-radius: 5px;
    background-color: #282828;
}
#searchIcon{
    width:25px;
    height:25px;
    margin:0 5px;
    fill:#faebd7;
}
.light #searchIcon{
     fill:#000;
 }
#searchInput{
    width:calc(100% - 68px);
    height:30px;
    border:none;
    outline:none;
    background-color:inherit;
    color:#faebd7;
}
.light #searchInput{
    color:#282828;
}
#closeSearch{
    width:25px;
    height:25px;
    margin:0 4px;
    border:none;
    outline:none;
    cursor: pointer;
    visibility: hidden;
    fill:#faebd7;
}
.light #closeSearch{
    fill:#282828;
}
#closeSearch:hover{
    opacity: 0.7;
}
#resultsWrapper{
    width:auto;
    max-height:250px;
    overflow-y: auto;
    position: fixed;
    top:50px;
    border-radius: 0 0 8px 8px;
    padding:10px 0;
    z-index: 9;
    background-color: #1b1b1b;
    visibility: hidden;
}
.light #resultsWrapper{
    background-color: #e6e6e6;
    box-shadow: 0px 0px 2px 0px black;
}
.results-flex{
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding:5px 10px;
    color: #faebd7;
    cursor: pointer;
}
.light .results-flex{
    color:#000;
}
.results-flex-focus{
    background-color: #79d7f4;
    color:#000!important;
}
.results-flex:hover{
    background-color: #79d7f4;
}
.results-flex:hover .inline-p{
    color:#000!important;
}
/* end search */
/* end header */
#globalInstructions{
    display: none;
    position: absolute;
    top:50px;
    width:100%;
    color:#faebd7;
    text-align: center;
    background-color:#000;
    opacity: 0.5;
    font-size: 0.8em;
    z-index: 2;
}
#globalInstructions p{
    margin:5px 2px;
}
/* begin country popup */
#closePopup{
    width:20px;
    height:20px;
    border:none;
    outline:none;
    cursor: pointer;
    -o-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -webkit-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
    z-index: 10;
    margin-left:-30px;
    margin-right:10px;
    visibility: hidden;
}
#closePopup polyline {
    stroke:#fff;
}
.light #closePopup polyline{
    stroke:#000;
}
#closePopup:hover{
    opacity: 0.7;
}
#countryPopup{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start;
    position: absolute;
    width:100%;
    height: 100%;
    overflow: auto;
    margin:50px auto;
    padding:0px 10px;
    background-color:#282828;
    z-index: 8;
    -o-transition:0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
    -webkit-transition:0.5s ease-in-out;
    transition:0.5s ease-in-out;
    opacity: 0.9;
}
.light #countryPopup{
    background-color: #cacaca;
}
#countryWrapper{
    position:-webkit-sticky;
    position: sticky;
    top:5px;
    min-height: calc(100vh - 60px);
    padding:0 10px 100px;
    margin:5px 0;
    background-color: #1b1b1b;
    border-radius: 8px;
}
.light #countryWrapper{
    background-color: #e6e6e6;
}
.country-container{
    display: block;
    margin:0 5px 20px; 
    color:#faebd7;
}
.light .country-container{
    color:#000;
}
.flag-big{
    width: 120px;
    height:120px;
}
.country-big{
    font-size: 2em;
    margin:0;
}
.stats-column{
    min-width:220px;
    margin:10px 0;
    padding:20px;
    border-radius: 8px;
    border:1px solid #fff;
    background-color:#000;
}
.prop-title, .prop-title-main{
    width:calc(100% - 40px);
    margin:0;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 100;
    color:#54cbf2;
}
.light .prop-title, .light .prop-title-main .light .chart-header{
    color:#038ebc;
}
.flex-stats-container{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -ms-flex-wrap: wrap; flex-wrap: wrap;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    margin-top:2.5px;
    margin-left:0.5%;
    padding-bottom: 100px;
}
.stats-column-flex{
    position: relative;
    width:calc(33% - 5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin:2.5px;
    padding:20px;
    border-radius: 8px;
    background-color:#000;
}
.light .stats-column-flex, .light #chart{
    background-color: #fff;
}
.stats-column-flex-100{
    width:calc(99% - 5px);
}
.help-tip-stats{
    position: absolute!important;
    top:10px!important;
    right:10px!important;
}
.help-tip-stats p{
    width:250px!important;
    right:-4px!important;
    left:unset!important;
    /* pointer-events: none; */
}
.help-tip-stats p::before{
    right:10px!important;
    left: unset!important;
}
.help-tip-stats p:after{
    height: 0;
}
.flex-stat{
    display: -webkit-box;;
    display: -ms-flexbox;;
    display: flex;;
    -webkit-box-orient: vertical;;
    -webkit-box-direction: normal;;
    -ms-flex-direction: column;;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin:0 20px;
    color:#faebd7;
}
.light .flex-stat{
    color:#000;
}
.pie-wrapper{
    width:100px;
    height:100px;
}
.circle{
    -o-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    transform:rotate(135deg);
    width:100%;
    height:86px;
}
.circle-info{
    color:#6dff71;
    position: relative;
    top:-2.3em;
    left:0;
    right:0;
    text-align: center;
}
.circle-perc{
    top:-3.5em;
}
/* begin country chart */
#chart{
    position: relative;
    width:calc(99% - 5px);
    height: 100px;
    min-height: unset;
    margin:2.5px 0px;
    padding:20px;
    border-radius: 8px;
    background-color:#000;
    opacity: 1;
}
#chartLoader{
    display: none;
    opacity: 0;
    position: absolute;
    top:18px;
    left:calc(50% - 32px);
}
.chart-no-data{
    text-align: center;
    margin-top:15px;
    font-weight: 100;
}
.chart-header{
    position: absolute;
    width:calc(100% - 40px);
    color:#54cbf2;
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -ms-flex-wrap: wrap; flex-wrap: wrap;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    padding-bottom:10px;
}
.chart-header h2{
    font-weight: 100;
    width:auto;
    max-width: calc(100% - 36px);
    text-align: left;
    margin-right: 10px;
}
/* begin chart info tooltip */
.help-tip{
    display: inline-block;
    position: relative;
    top:-1px;
    left:unset;
    text-align: center;
    background-color: #faebd7;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    cursor: default;
}
.help-tip:before{
    font-family: serif;
    content:'i';
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
    color:#000;
}
.light .help-tip:before{
    color:#faebd7;
}
.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;
    -o-animation: fadeIn 0.3s ease-in-out;
    -moz-animation: fadeIn 0.3s ease-in-out;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}
.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #faebd7;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    left: -4px;
    color: #000;
    font-size: 13px;
    line-height: 1.4;
    z-index: 11;
    margin:8px 0px;
}
.light .help-tip p, .light .help-tip{
    background-color: #282828;
    color:#faebd7;
}
.light .help-tip p::before{
    border-bottom-color:#282828;
}
.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#faebd7;
    left:10px;
    top:-12px;
}
.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:100%;
    content:'';
    position: absolute;
    top:0;
    left:0;
}
/* end chart info tooltip */
#testsCheckBoxWrapper{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    -ms-flex-item-align: start; align-self: flex-start;
    margin-top:5px;
}
#testsCheckBox{
    cursor: pointer;
}
.chart-options-wrapper{
    position: relative;
    z-index: 10;
    width: 175px;
    height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px;
    border-radius: 8px;
    margin:0 0 0 10px;
    -o-transition:height .3s ease-out;
    -moz-transition:height .3s ease-out;
    -webkit-transition:height .3s ease-out;
    transition:height .3s ease-out;
}
.light .chart-options-wrapper{
    border:1px solid #000;
}
#chartDropDown{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
    height: 30px;
    background-color: #282828;
    border-bottom: 1px solid #1d1d1d;
    color:#fff;
    cursor: pointer;
}
.light #chartDropDown{
    background-color: #e6e6e6;
    color:#000;
}
.chart-btns{
    color:#faebd7!important;
    height:30px!important;
}
.chart-btns:hover{
    background-color:#96dcf4!important;
    color:#000!important;
}
.chart-btns:active, .chart-btns:focus{
    background-color:#08aae3!important;
    color:#fff!important;
}
.light .chart-btns{
    background-color:#e6e6e6;
    color:#000!important;
}
#chartInfo{
    width:100%;
    -ms-flex-item-align: start; align-self: flex-start;
    margin:5px 0px 10px;
}
#chartInfo p {
    width:100%;
    margin: 0px;
    color:#faebd7;
    text-align: left;
}
.light #chartInfo p, .light .chart-popup-date, .light .chart-popup-text{
    color:#000;
}
#svgChart{
    position: relative;
}
.chart-label{
    font-size: 1em;
    -o-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.chart-text{
    fill:#faebd7;
    font-size: 1em;
}
.chart-lines{
    stroke:#faebd7;
}
.light .chart-lines{
    stroke:#000;
}
.light .chart-text{
    fill:#000;
}
.polyline{
    fill: none;
    stroke-width: 2px;
    stroke-linecap:round;
    stroke-linejoin:round;
    -o-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.hover-line, .chart-horiz-lines{
    stroke:#282828;
}
.light .hover-line, .light .chart-horiz-lines{
    stroke:#e6e6e6;
}
.chart-popup{
    position: absolute;
    display: none;
    z-index:9;
    top:0;
    left:0;
    pointer-events: none;
    white-space: nowrap;
    padding:0.3em;
    border-radius: 4px;
    background-color: #282828;
    opacity: 0.9;
    color:#fff;
    text-align: left;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.35);
    -o-transform:translate(-100%, -100%);
    -moz-transform:translate(-100%, -100%);
    -ms-transform:translate(-100%, -100%);
    -webkit-transform:translate(-100%, -100%);
    transform:translate(-100%, -100%);
}
.light .chart-popup{
    background-color: #fff;
    border:1px solid #e6e6e6;
}
.chart-popup-wrapper{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
}
.chart-popup-flex{
    margin:2px 0;
}
.chart-popup-flex:nth-child(2n){
    margin-left:50px;
}
.chart-popup-date{
    margin:0;
    font-size: 1em;
    font-weight: 600;
    color:#faebd7;
}
.chart-popup-text{
    display: inline-block;
    margin:0 2px;
    font-size: 0.9em;
    font-weight: 100;
    color:#faebd7;
}
/* end country chart */
/* end country popup */
/* begin loader overlay */
.overlay{
    position: fixed;
    width:100%;
    height: 100vh;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99;
    opacity: 0.7;
    -o-transition:0.5s ease-in;
    -moz-transition:0.5s ease-in;
    -webkit-transition:0.5s ease-in;
    transition:0.5s ease-in;
}
#loader{
   background-image: url(../images/loader.gif);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   width:64px;
   height:64px;
}
.overlay p{
    position: absolute;
    font-size: 2em;
    color:#fff;
    margin:0;
}
/* end loader overlay */
#toggleSideBar, #keyBtn, #centerBtn, #toggleDark{
    width:34px;
    height:34px;
    position:fixed;
    padding:5px;
    border-radius: 8px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    z-index: 7;
    background-color:#faebd7;
}
.light #toggleSideBar, .light #keyBtn, .light #centerBtn, .light #toggleDark{
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px black;
}
#toggleSideBar{
    background-position: -68px 0px;
    top:60px;
    left:12px;
    opacity: 0;
}
#toggleDark{
    top: 60px;
    right:12px;
}
#lightMode{
    display: none;
}
.light #lightMode{
    display: block;
}
.light #darkMode{
    display: none;
}
#centerBtn, #keyBtn{
    right:12px;
}
#centerBtn{
    top:100px;
}
#centerSVG path{
    fill:#282828;
}
#toggleSideBar:hover, #centerBtn:hover, #keyBtn:hover, #toggleDark:hover{
    background-color: #cacaca;
}
#keyBtn{
    top:140px;;
    background-position: -34px 0px;
}
#currentDataWrapper{
    visibility: hidden;
    position:fixed;
    display:-webkit-box; display:-ms-flexbox; display:flex;
    top:60px;
    right:52px;
    z-index: 8;
}
#globalHelpTip{
    left:10px;
}
#globalHelpTip, #legendHelpTip{
    margin-top:-5px;
    display: none;
}
#globalHelpTip p, #legendHelpTip p {
    right:-4px;
    left:unset;
}
#globalHelpTip p:before, #legendHelpTip p:before {
    right:10px;
    left:unset;
}
#currentData{
    font-size: 2em;
    font-weight: 400;
    color:#000;
    padding:10px;
    border-radius:10px;
    border:1px solid #282828;
    background-color:#96dcf4;
    text-transform: uppercase;
}
#keys{
    position: fixed;
    top:139px;
    right:11px;
    width: auto;
    max-height: 0px;
    border-radius: 8px;
    padding:20px 10px 20px 20px;
    margin:0;
    background-color:#1d1d1d;
    visibility: hidden;
    color:#faebd7;
    /* overflow: hidden; */
    z-index: 7;
    /* -ms-touch-action:none;touch-action:none; */
}
#legendHelpTip{
    display: block;
    position: absolute;
    left:-15px;
}
.light #keys{
    background-color: #fff;
    color:#000;
    box-shadow: 0px 0px 1px 0px black;
}
.closeBtn{
    cursor: pointer;
    padding: 5px;
    border-radius: 7px;
}
#closeKeys:hover{
    background-color: #3b3a38;
}
.light #closeKeys:hover{
    background-color: #cacaca;
}
#closeKeys{
    float: right;  
}
h2{
    margin: 0;
    text-transform: uppercase;
}
#keyTitle{
    margin: 0 0 25px;
}
.keys{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    padding:0px 20px 0px 0px;
}
.colors{
    -webkit-box-flex:0;
    -ms-flex:0 0 15px;
    flex:0 0 15px;
}
.colors-wrapper{
    width:15px;
}
.color, .data-range{
    -o-transition:0.1s ease-out;
    -moz-transition:0.1s ease-out;
    -webkit-transition:0.1s ease-out;
    transition:0.1s ease-out;
}
.color, .data-range{
    height:40px;
    margin:0.5px 0px;  
}
.color:last-child{
    border-bottom-right-radius: 3px!important;
    border-bottom-left-radius: 3px!important;
}
.on-color-hover{
    border:1px solid #f9ebd7;
    -o-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    border-radius: 0px!important;
}
.light .on-color-hover{
    border:1px solid #000;
}
.key-data{
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    margin-left: 15px;
}
.data-range{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}  
.data-line, .data-line-small{
    display: none;
}
/* begin sideBar */
#sideBar{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width:300px;
    height: 100%;
    background-color:#1b1b1b;
    opacity: 0.9;
    position: fixed;
    top:50px;
    overflow-y: hidden;
    -o-transition:transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -webkit-transition:transform 0.3s ease-in-out;
    transition:transform 0.3s ease-in-out;
    visibility: hidden;
    z-index: 8;
    padding-bottom: 50px;
    /* -ms-touch-action:none;touch-action:none; */
}
.light #sideBar{
    background-color: #002b6b;
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding:0px 12px;
    border-bottom:1px solid #fff;
}
#closeDash{
    -webkit-box-flex:1; -ms-flex:1; flex:1;
    color:#fff;
    text-align: end;
}
#closeDash:hover{
    color:#626262;
}
.light #closeDash:hover{
    color:#cacaca;
}
#livePulse{
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #f44336;
    -o-animation: pulse 0.8s ease-in-out 0s infinite alternate;
    -moz-animation: pulse 0.8s ease-in-out 0s infinite alternate;
    -webkit-animation: pulse 0.8s ease-in-out 0s infinite alternate;
    animation: pulse 0.8s ease-in-out 0s infinite alternate;
}
.pulse{
    margin:0px 6px 0 0; 
    color: #f44336;
}
#timeStamp{
    margin:0;
    font-size:14px;
}
/* begin switch */
#switchWrapper{
    width:100%;
    height:148px;
}
.switch-titles{
    font-size: 1.5em;
    font-weight: 100;
    opacity: 0.4;
    cursor:pointer;
}
#switchCircle, .switch-rect, .switch-titles{
    -o-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}
.switch-target-circles{
    opacity: 0;
    cursor: pointer;
}
#casesTitle{
    opacity: 1;
}
/* .light #switchCircle{
    fill: #fff;
} */
/* end switch */
/* begin dropdown */
#optionsDiv{
    width: auto;
    height: auto;
    height: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding:0px;
    margin-bottom:20px;
}
#dropDown{
    position: -webkit-sticky;
    position: sticky; 
    top:-1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height:40px;
    background-color:#faebd7; 
    border-bottom:1px solid #1d1d1d;
    cursor: pointer;
}
.light #dropDown{
    box-shadow: 0px 0px 3px 0px black;
    background-color:#fff; 
}
.flex-span{
    -ms-flex-item-align: center;-ms-grid-row-align: center;align-self: center;
    margin-left:15px;
}
#dropDownTitle{
    font-weight: 400;
    color:#282828;
}
#chartOptionArrow{
    filter:invert(1);
}
.light #chartOptionArrow{
    filter:none;
}
#dropDownArrow, #chartOptionArrow{
    width:30px;
    height:30px;
    background-position: 0px 0px;
    margin-right:5px;
    opacity: 0.5;
    cursor: pointer;
    -o-transition:0.1s ease-in;  
    -moz-transition:0.1s ease-in;  
    -webkit-transition:0.1s ease-in;  
    transition:0.1s ease-in;
}
#dropDownArrow:hover, #dropDownArrow:active, #dropDownArrow:focus, #chartOptionArrow:hover, #chartOptionArrow:active, #chartOptionArrow:focus{
    opacity: 1;
}
#testsMenu, #deathsMenu, #vaccMenu{
    display: none;
}
.cases-btns, .deaths-btns, .tests-btns, .vacc-btns, .chart-btns{
    font-family: 'Gill Sans', sans-serif;
    display: block;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: #3d3c3a;
    color:#faebd7;
    font-size: 1em;
    font-weight: 100;
    text-align: left;
    -o-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    cursor: pointer;
    padding:0 0 0 15px;
}
.cases-btns:hover{
    background-color:#96dcf4!important;
    color:#000!important;
}
.cases-btns:active, .cases-btns:focus{
    background-color:#54cbf2!important;
    color:#000!important;
}
.tests-btns:hover{
    background-color:#f9d7a4!important;
    color:#000!important;
}
.tests-btns:active, .tests-btns:focus{
    background-color:#f4bc68!important;
    color:#000!important;
}
.deaths-btns:hover{
    background-color:#ff9890!important;
    color:#000!important;
}
.deaths-btns:active, .deaths-btns:focus{
    background-color:#f6584c!important;
    color:#000!important;
}
.vacc-btns:hover{
    background-color:#bafbdf!important;
    color:#000!important;
}
.vacc-btns:active, .vacc-btns:focus{
    background-color:#4cf6af!important;
    color:#000!important;
}
/* end dropdown */
/* begin world stats */
#statsWrapper{
    overflow-y: scroll;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#worldStats, #worldList{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 1000;
    flex-shrink: 1000;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    overflow: auto;
    border-top:1px solid #fff;
}
#worldStats{
    padding:15px 12px 25px;
    overflow: hidden;
}
.worldStats-flex{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    width:100%;
}
#worldList{
    padding:15px 0px 25px;
}
#worldList h2, #worldList .ranks-title{
    padding:0 12px;
}
.global-cases-title, .global-deaths-title, .global-tests-title, .global-vacc-title{
    margin:0;
    text-transform: uppercase;
    font-weight: 100;
}
.global-cases-title{
    color:#68d1f4;
}
.global-tests-title{
    color:#f4bc68;
}
.global-deaths-title{
    color:#f6584c;
}
.global-vacc-title{
    color:#4cf6af;
}
.stats{
    margin:15px 0 0 0;
    font-size: 2em;
}
.stats-titles{
    margin:0;
    font-size: 1em;
}
.stats-flex{
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin:3px auto;
    cursor: pointer;
    color:#faebd7;
    padding:0 12px;
}
.stats-flex:hover{
    background-color: #79d7f4;
}
.stats-flex:hover{
    color:#000!important;
}
.ranks-title{
    margin:0 0 20px 0;
    font-size: 1em;
}
.inline-count{
    -webkit-box-flex:0;
    -ms-flex:0 0 30px;
    flex:0 0 30px;
    margin:0;
    font-size: 1em;
}
.inline-flag{
    width:32px;
    height:28px;
    -webkit-box-flex:0;
    -ms-flex:0 0 32px;
    flex:0 0 32px;
}
.inline-p{
    font-size: 1em;
    -webkit-box-flex:1;
    -ms-flex:1 1 100%;
    flex:1 1 100%;
    margin:0 10px;
}
.inline-stat{
    font-size: 1em;
    margin:0;
}
/* end world stats */
/* end sideBar */
/* begin map */
#mapDiv{
    width:100%;
    height: 100vh;
    position: fixed;
    margin:0 auto;
    z-index: 1;
    display: none;
    opacity: 0;
}
svg{
    overflow: hidden;
}
.map-div path{
    fill:#fff;
    fill-rule: evenodd;
    stroke-width: calc(0.5px/var(--zoom));
    -o-transition: fill 0.3s ease-in;
    -moz-transition: fill 0.3s ease-in;
    -webkit-transition: fill 0.3s ease-in;
    transition: fill 0.3s ease-in;
    cursor: pointer;
}
.map-div path:hover{
    stroke-width: calc(2px/var(--zoom));
}
#worldMap{
    width:100%;
    height: 100%;
    stroke-linejoin: round; 
    stroke:#fff; 
    fill: none; 
    stroke-width:0.2px;
    position: relative;
    cursor:-webkit-zoom-in;cursor:zoom-in;
}
.light #worldMap{
    stroke:#000;
}
/* end map */
/* begin popup */
#popup{
    position: absolute;
    background-color:#000;
    padding:10px;
    border-radius: 8px;
    text-align: center;
    z-index: 10;
    display: none;
    -ms-touch-action:none;touch-action:none;
    opacity: 0.9;
}
.popup-big, .popup-small, .country{
    display: block;
    margin:0;
}
.popup-big{
    font-size: 1.5em;
    font-weight: 400;
}
.country{
    font-size: 1.5em;
}
.flag{
    display: block;
    margin: 0 auto;
    width:40px;
    height:40px;
}
/* end popup */
/* begin about page */
#about{
    display: none;
    width:100%;
    height: 100vh;
    margin:50px auto;
    padding:0 5px 80px;
    overflow-y: scroll;
    position: relative;
    z-index: 2;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
#aboutWrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin:40px auto 0;
    max-width: 1100px;
}
.about-flex{
    width:calc(50% - 10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    background-color: #000;
    border-radius: 8px;
    padding:20px;
    margin:5px;
    opacity: 0.9;
    text-align: center;
}
.about-flex-col, .about-flex-title{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin:0 30px;
}
.about-flex-col{
    width:100%;
}
.light .about-flex{
    background-color: #fff;
}
.about-dark-blue{
    background-color: #002029!important;
}
.about-flex a:link, .about-flex a:visited{
    color:#faebd7;
    cursor:pointer;
}
.about-flex a:hover, .about-flex a:focus, .about-flex a:active{
    text-decoration: none;
    color:#545454;
}
.light .about-flex a:link, .light .about-flex a:visited{
    color:#000;
    cursor:pointer;
}
.light .about-flex a:hover, .light .about-flex a:focus, .light .about-flex a:active{
    text-decoration: none;
    color:#545454;
}
#about h1{
    font-size: 3em;
    font-weight: 100;
    color:#54cbf2;
    margin:10px 0;
}
.light #about h1{
    color:#f3564a;
}
.text{
    font-size: 2em;
    color:#faebd7;
    margin:0 0 20px 0;
}
.small-text{
    font-size: 1.3em;
    margin:0;
    color:#cacaca;
}
.smallest-text{
    margin:0;
    font-size: 0.8em;
    color:#cacaca;
}
.light .text{
    color:#000;
}
.light .small-text{
    color:#545454;
}
.light .text-over-blue{
    color:#fff!important;
}
/* end about page */
@media(max-width:1024px){
    #header h1{
        font-size: 1em;
    }
    #about{
        padding-bottom:150px;
    }
    .about-flex{
        width:calc(100% - 10px);
        -webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;
    }
    #countryPopup{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
    }
    #countryWrapper{
        position: relative;
        top:0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding:10px;
        min-height: unset;
        height:auto;
        width:calc(100% - 5px);
    }
    .stats-column{
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;
        margin:10px;
    }
    .stats-column-flex{
        width:calc(50% - 5px);
    }
    .flex-stats-container{
        margin-top:0;
        margin-left:0;
    }
    #chart{
        width:calc(100% - 5px);
    }
}
@media(max-width:768px){ 
    .btn-container{
        margin:0;
        padding-bottom: 20px;
    }
    #logo{
        margin-right: 10px;
    }
    #header h1{
        -webkit-box-flex:1;-ms-flex:1;flex:1;
        font-size: 1em;
    }
    #searchWrapper{
        -webkit-box-flex:0;
        -ms-flex:0;
        flex:0;
        margin:0 30px 0 0;
        background-color: transparent;
    }
    #searchInput{
        visibility:hidden;
    }
    #closeSearch{
        display: none;
    }
    #globalInstructions{
        top:91px;
    }
    #countryWrapper{
        -ms-flex-wrap: wrap;flex-wrap: wrap;
    }
    .country-container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-flex:100%;
        -ms-flex:100%;
        flex:100%;
    }
    .stats-column, .flex-stats-container{
        text-align: center;
    }
    .prop-title-main{
        width:auto!important;
    }
    .font-vw{
        font-size: 5vw;;
    }
    #nav{
        display: none;
    }
    #hamburger{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width:35px;
        height:35px; 
        cursor: pointer;
        position: absolute;
        top:7px;
        right:12px;
    }
    #line1, #line2{
        margin:3px 0;
        width:25px;
        height:2px;
        background-color:#faebd7;
        border-radius: 50px;
        -o-transition:0.3s ease-in-out;
        -moz-transition:0.3s ease-in-out;
        -webkit-transition:0.3s ease-in-out;
        transition:0.3s ease-in-out;
    }
    .change #line1 {
    	-o-transform: rotate(-45deg) translate(-1px, 5px);
    	-moz-transform: rotate(-45deg) translate(-1px, 5px);
    	-ms-transform: rotate(-45deg) translate(-1px, 5px);
        -webkit-transform: rotate(-45deg) translate(-1px, 5px);
        transform: rotate(-45deg) translate(-1px, 5px);
	}
	.change #line2 {
    	-o-transform: rotate(45deg)translate(0px, -5px);
    	-moz-transform: rotate(45deg)translate(0px, -5px);
    	-ms-transform: rotate(45deg)translate(0px, -5px);
    	-webkit-transform: rotate(45deg)translate(0px, -5px);
    	transform: rotate(45deg) translate(0px, -5px);
    }
    .light #line1, .light #line2{
        background-color: #000;
    }
    #mobileNav{
        width:100%;
        position: absolute;
        top:50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color:#000;
        -o-transition:transform 0.3s ease-out;
        -moz-transition:transform 0.3s ease-out;
        -webkit-transition:transform 0.3s ease-out;
        transition:transform 0.3s ease-out;
        z-index: 9;
    }
    .light #mobileNav{
        background-color: #fff;
        box-shadow: 0px 0px 2px 0px black;
    }
    #mobileNav .menu-btns{
        width:100%;
        text-align: center;
        margin:0;
        padding:15px 0;
    }
    #toggleSideBar, #centerBtn, #keyBtn, #toggleDark{
        background-color: unset!important;
        top:53.5px;
        box-shadow: 0px 0px 2px 0px black;
    }
    #keys{
        top:unset;right:unset;
        bottom:0px;
        width:100%;
        padding:5px 10px 10px;
        opacity: 0.9;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #keys h2, #keyTitle{
        display: none;
    }
    #closeKeys{
        position: fixed;
        bottom:55px;
        right:5px;
        background-color: #1f1f1f!important;
    }
    .light #closeKeys{
        background-color: #fff!important;
    }
    .keys{
        -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
        padding:0px;
    }
    .colors-wrapper{
        width:100%;
        -webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;
        z-index: 1;
    }
    .flex-column{
        -webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;
    }
    .color{
        height:15px;
        -webkit-box-flex:1;-ms-flex:auto;flex:auto;
        margin:0 0.5px;
    }
    .color:last-child {
        border-bottom-right-radius: 0px!important;
        border-bottom-left-radius: 3px!important;
        border-top-left-radius: 3px!important;
    }
    .key-data{
        width:100%;
        margin-left: 0px;
        -ms-flex-item-align: start;align-self: flex-start;align-self: flex-start;
    }
    .data-range:last-child{
        white-space: unset;
        padding:5px;
    }
    .data-range{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-flex:1;
        -ms-flex:auto;
        flex:auto;
        height:40px;
        font-size: 12px;
        margin:0 0.5px;
        padding:0 5px;
        -o-transform:translateX(var(--trans));
        -moz-transform:translateX(var(--trans));
        -ms-transform:translateX(var(--trans));
        -webkit-transform:translateX(var(--trans));
        transform:translateX(var(--trans));
    }
    .data-line, .data-line-small{
        display: block;
        width:1px;
        background-color: #505050;
    }
    .data-line{
        height:20px;
    }
    .data-line-small{
        height:5px;
    }
    .light .data-line, .light .data-line-small{
        background-color: #e6e6e6;
    }
    #sideBar{
        width:100%;
        top:0px;
        opacity: 1;
        z-index: 11;
    }
    #toggleSideBar{
        left:5px;
    }
    #keyBtn{
        right:5px;
    }
    #currentDataWrapper{
        width:100%;
        height:41px;
        top:50px;
        right:0;
        z-index: 6;
    }
    #globalHelpTip{
        position: absolute;
        top:70px;
        left:unset;
        right:10px;
        margin-top:0px;
    }
    #legendHelpTip{
        top:-14px;
        left:5px;
    }
    #legendHelpTip p{
        right:unset;
        top:-78px;
    }
    #legendHelpTip p:before{ /* The pointer of the tooltip */
        border-top-color:#faebd7;
        border-bottom-color: transparent;
        left:10px!important;
        bottom:-12px;
        top:unset;
    }
    .light #legendHelpTip p::before{
        border-top-color:#282828;
    }
    #currentData{
        width:100%;
        text-align: center;
        border-radius: 0px;
        font-size: 0.8em;
        line-height: 1.6em;
        opacity: 0.9;
    }
    #toggleDark{
        left:47px;
    }
    #centerBtn{
        right:47px;
    }
    #sideBar{
        padding-bottom: 0;
    }
    #aboutWrapper{
        margin-top:10px;
    }
    .chart-header{
        padding-bottom: 20px;
    }
    #globalHelpTip p, #legendHelpTip p{
        width:300px;
    }
    .help-tip p{
        width:200px;
        right:-4px;
        left:unset;
        pointer-events: none;
    }
    .help-tip p::before{
        right:10px;
        left: unset;
    }
    .help-tip p:after{
        height: 0;
    }
    .chart-popup-wrapper{
        -ms-flex-wrap: wrap; flex-wrap: wrap;
        margin:5px 0px;
    }
    .chart-popup-flex{
        width:100%;
        margin:0!important;
    }
    .chart-text, .chart-label{
        font-size: 2vw;
    }
}
@media(max-width:520px){
    #countryPopup{
        padding:0 0 100px;
    }
    .stats-column-flex{
        width:calc(100% - 5px);
    }
    .font-vw{
        font-size: 7.5vw;
    }
    #header h1{
        font-size: 14px;
    }
    .country-big{
        text-align: center;
    }
}